*{
    padding: 0;
    margin: 0;
}
.header{
    height: 122px;  
}
.header__main,
.header__navbar{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.header__navbar__list{
    list-style: none; 
    padding-left: 0px;
    margin: 4px 0 0 0;
}
.header__navbar__item1{
    margin: 0 10px;
    position: relative;
}
.header__navbar__item1,
.header__navbar__item-link{
    cursor: pointer;
    line-height: 2.5;
    display: inline-block; 
    font-size: 1.5rem;
    color: var(--blue-color);
    text-decoration: none;
    font-weight: 700;
}

.header__navbar__item1:hover,
.header__navbar__item-link:hover{
    color: rgba(138, 204, 242, 0.7);
}

.header__main__item__separate,
.header__navbar__item__separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #71b9f1;
    height: 12px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar__item2{
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    line-height: 2.5;
    margin-top: 1px;
    font-size: 1.5rem;
    text-align: center;
}
.top_bar_ship_fast {
    background-color: #ff4200;
    border: 1px solid #fefefe;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    transform: skewX(-20deg);  
}
/*header__main*/
.header__with__main{
    background-color: #71b9f1;
    display: flex;
}
img{
    width: 250px;
    height: 80px;
    text-align: center;
    background-color: #71b9f1;
}
.header__main__list{
    list-style: none; 
    padding-left: 0px;
}
.header__main__item{
    margin: 0 10px;
    position: relative;
}
.header__main__item,
.header__main__item-link{
    cursor: pointer;
    display: inline-block; 
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
}

.header__main__item:hover,
.header__main__item-link:hover{
    color: rgba(45, 138, 192, 0.7);
}
.header__serach{
    position: relative;
    border-radius: 10px;
    flex: 0.7;
    height: 24px;
    background-color: var(--white-color);
    text-align: center;
    margin: auto;
    display: flex;
}
.header__search__input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 0 10px;
}
.header__search-btn{
    color: var(--blue-color);
    border: none;
}
.header__search-icon{
    margin-top: 3px;
    position: absolute;
    font-size: 1.6rem;
    color: var(--blue-color);
    transform: translateX(-150%);
}
.header__user-cart{
    flex: 0.2;
    text-align: center;
    margin: auto;
}

.header-item{
    color: var(--white-color);
    font-size: 18px;
    margin: 0 15px;
    text-align: center;
}
/*footer*/
.footer {
    background-color: #e0e0e0;
    color: #334862;
    padding: 40px 0;

}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    font-size: 15px;
    color: #334862;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #666;
}
.footer-item{
    font-size: 32px;
    margin: 25px 5px;
    text-align: center;
    text-decoration: none;
}
.fa-youtube{
    color: #ff4200;
}
.fa-facebook{
    color: blue;
}

