@model List<Product>
@using App.Components
@{
    List<Category> categories = ViewBag.categories as List<Category>;
    Category category = ViewBag.category as Category;
    ViewData["Title"] = (category != null) ? category.Title : "Tất Cả Sản Phẩm";
}

@section Popup {

    @await Component.InvokeAsync("App.Components.CategorySideBar",
        new CategorySideBar.CategorySideBarData()
{
    Categories = categories,
    level = 0,
    slugCategory = ViewBag.categoryslug

})
}

@if (category != null)
{
    <p>@category.Slug</p>
}
else
{
    <p>Tất cả sản phẩm</p>
}